@model EM.ViewModels.Product.ProductDetailsViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="p-2">
    <h1>ساخت محصول جدید</h1>
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">لطغا اطلاعات محصول را وارد کنید</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name" for="exampleInputFile">نام محصول</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                        </div>
                        <input asp-for="Name" type="text" class="form-control" placeholder="مثال: گوشی iphone 19 pro max">
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Name" for="exampleInputFile">دسته بندی محصول</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                        </div>
                        <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Title"))">
                            <option value="">یک دسته بندی را انتخاب کنید</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="StockQuantity" for="exampleInputFile">تعداد محصول</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-dropbox"></i>
                            </span>
                        </div>
                        <input asp-for="StockQuantity" type="text" class="form-control" placeholder="برای مثال: 75">
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="StockQuantity" for="exampleInputFile">توضیحات محصول</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-dropbox"></i>
                            </span>
                        </div>
                        <input asp-for="Description" type="text" class="form-control" placeholder="توضیحات محصول را وارد کنید.">
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Image" for="exampleInputFile">عکس محصول</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-picture-o"></i>
                            </span>
                        </div>
                        <div class="custom-file">
                            <input asp-for="Image" type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">فایل خود را انتخاب کنید</label>
                        </div>
                    </div>
                </div>
                    <label asp-for="Price" for="exampleInputFile">هزینه محصول</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Price" type="text" class="form-control" placeholder="به ریال وارد کنید">
                        <div class="input-group-append">
                            <span class="input-group-text">.۰۰</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        @* <a href="/admin/home/index"> *@
                            <button href="@Url.Action("Index", "Home", "Admin")" class="btn btn-danger">بازگشت</button>
                        @* </a> *@
                        <button type="submit" class="btn btn-success">ایجاد محصول</button>
                    </div>


            </form>



        </div>

        <!-- /input-group -->
    </div>
    <!-- /.card-body -->
</div>

